@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  position: fixed;
  background-color: #222;
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.3s ease-in-out;
  z-index: 1000;
  font-family: 'Open Sans', sans-serif;
}

.nav .container {
  padding: 15px 20px;
}

.nav ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: center;
  padding-left: 0;
  margin: 0;
}

.nav a {
  color: #fff;
  text-decoration: none;
  padding: 7px 15px;
  transition: all 0.3s ease-in-out;
  font-size: 16px; /* Aumentado para mejor legibilidad */
}

.nav.active {
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.nav.active a {
  color: #000;
}

.nav.active .container {
  padding: 10px 20px;
}

.nav a.current,
.nav a:hover {
  color: #c0392b;
  font-weight: bold;
}

@media (max-width: 768px) {
  .nav .container {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-menu {
    display: none; /* Cambiado para ocultar inicialmente */
    flex-direction: column;
    width: 100%;
    background-color: #333;
    padding: 1rem 0;
  }

  .nav-menu.active {
    display: flex; /* Se muestra cuando se hace clic */
  }

  .nav-toggle {
    display: block;
    background: none;
    border: none;
    cursor: pointer;
    margin-left: auto;
  }

  .hamburger {
    width: 1.5rem;
    height: 2px;
    background: white;
    position: relative;
    transition: all 0.3s ease-in-out;
  }

  .hamburger::before,
  .hamburger::after {
    content: '';
    width: 1.5rem;
    height: 2px;
    background: white;
    position: absolute;
    transition: all 0.3s ease-in-out;
  }

  .hamburger::before {
    top: -0.5rem;
  }

  .hamburger::after {
    top: 0.5rem;
  }

  .hamburger.active {
    transform: rotate(45deg);
  }

  .hamburger.active::before {
    top: 0;
    transform: rotate(90deg);
  }

  .hamburger.active::after {
    top: 0;
    transform: rotate(90deg);
  }
}
